<h1>Listing betties</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @betties.each do |betty| %>
      <tr>
        <td><%= betty.description %></td>
        <td><%= link_to 'Show', betty %></td>
        <td><%= link_to 'Edit', edit_betty_path(betty) %></td>
        <td><%= link_to 'Destroy', betty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Betty', new_betty_path %>
