<%= render 'pages/home' unless user_signed_in? %>

<div id="betties" class="transitions-enabled">
  <% @betties.each do |betty| %>
    <div class="box panel panel-default" >
      <%= link_to image_tag(betty.image.url(:medium)), betty %>
      <div class="panel-body">
        <p><strong><%= betty.user.email if betty.user %></strong></p>
        <% if betty.user == current_user %>
        <p><%= betty.description %><p/>
          <div class="actions">
            <%= link_to edit_betty_path(betty) do %>
              <span class="glyphicon glyphicon-pencil"></span> edit
            <% end %>     
            <%= link_to betty, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span> delete
            <% end %>   

          </div>
        <% end %>
      </div> 
    </div>
  <% end %>
</div>


