<div id="betties" class="transitions-enabled">
  <% @betties.each do |betty| %>
    <div class="box panel panel-default" >
      <%= image_tag betty.image.url(:medium) %>
      <div class="panel-body">
        <%= betty.description %>
        <%= betty.user.email if betty.user %>
        <%= link_to 'Show', betty %>
        <% if betty.user == current_user %>
          <%= link_to 'Edit', edit_betty_path(betty) %>
          <%= link_to 'Destroy', betty, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div> 
    </div>
  <% end %>
</div>


